<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bienvenido</title>

  <link href="styles/bootstrap-4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="styles/datatables/datatables.min.css" rel="stylesheet">

  <script src="styles/js/jquery-3.4.1.js"></script>
  <script src="styles/js/popper.min.js"></script>
  <script src="styles/bootstrap-4.3.1/js/bootstrap.min.js"></script>
  <script src="styles/datatables/datatables.min.js"></script>
</head>

<body>
  <div class="container">
    <button type="button" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" title="Agregar"><a href="personas/nueva_persona">Agregar</a></button>
    <div class="row">
      <div class="col-12">
        <table class="table .table-striped">
            <thead class="thead-dark">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellidos</th>
                <th scope="col">Email</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
            {% for persona in personas %}
              <tr>
                <th scope="row">{{persona.id}}</th>
                <td>{{persona.nombre}}</td>
                <td>{{persona.apellidos}}</td>
                <td>{{persona.email}}</td>
                <td><button type="button" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" title="Detalles"><a href="personas/detalle_persona/{{persona.id}}">D</a></button>  <button type="button" class="btn btn-outline-info" data-toggle="tooltip" data-placement="top" title="Editar"><a href="personas/editar_persona/{{persona.id}}">E</a></button></td>
              </tr>
            {% endfor %}
            </tbody>
        </table>
      </div>
    </div>
   </div>
</body>
</html>