{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <button type="button" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" title="Agregar"><a href="personas/nueva_persona">Agregar</a></button>
    <div class="row">
      <div class="col-12">
        <table class="table .table-striped">
            <thead class="thead-dark">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellidos</th>
                <th scope="col">Email</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
            {% for persona in personas %}
              <tr>
                <th scope="row">{{persona.id}}</th>
                <td>{{persona.nombre}}</td>
                <td>{{persona.apellidos}}</td>
                <td>{{persona.email}}</td>
                <td><button type="button" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" title="Detalles"><a href="personas/detalle_persona/{{persona.id}}">D</a></button>  <button type="button" class="btn btn-outline-info" data-toggle="tooltip" data-placement="top" title="Editar"><a href="personas/editar_persona/{{persona.id}}">E</a></button></td>
              </tr>
            {% endfor %}
            </tbody>
        </table>
      </div>
    </div>
   </div>
{% endblock %}
